.category {
  background-color: #ffffff;
  border-radius: 20px;
  height: 110px;
  width: 180px;
  padding: 2rem 1rem 0.5rem;
  margin-right: 1rem;
}

.title {
  color: #a5a6c1;
  font-weight: normal;
  font-size: 12px;
  margin: 0 0 0.5rem;
}

.subtitle {
  color: #242f5d;
  font-weight: normal;
  font-size: 18px;
  margin: 0 0 0.5rem;
}

.progressBar {
  height: 3px;
  background: #d1ddfb;
  width: 100%;
  border-radius: 2px;
}

.progressBar:after {
  content: "";
  display: block;
  height: 3px;
  background: #0675ff;
  width: 50%;
  border-radius: 2px;
}
