.todo-list-item {
  height: 60px;
  background-color: #FFF;
  border-radius: 20px;
  line-height: 60px;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: #3E456A;
  position: relative;
}

.todo-list-item input {
  position: absolute;
  left: 28px;
  height: 24px;
  width: 24px;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  opacity: 0;
}

.todo-list-item::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #C741CF;
  margin-right: 1rem;
  vertical-align: middle;
}

.todo-list-item.completed {
  text-decoration: line-through;
}

.todo-list-item.completed::before {
  background-color: #C741CF;
}

.completed::before {
  background-color: #C741CF;
}

.action-buttons-wrapper {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -50%);
}

.action-button {
  background: none;
  outline: none;
  border: none;
  color: #0675ff;
  cursor: pointer;
}