html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: #22355E;
  max-width: 700px;
  margin: 0 auto;
  background-color: #D1DDFB;
  padding: 2rem;
}

h1 {
  font-weight: 600;
  margin-bottom: 1rem;
  margin: 0;
}

h2 {
  font-size: 12px;
  font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background: #242F5D;
  }

  body {
    background: #242F5D;
  }
}

