.buttonNew {
  background-color: #0675FF;
  border-radius: 50px;
  border: none;
  top: 40px;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
  height: 60px;
  outline: none;
  position: absolute;
  right: 40px;
  width: 60px;
  cursor: pointer;
}