@import '../styles/colors';

.todoListItem {
  height: 60px;
  background-color: $white;
  border-radius: 20px;
  line-height: 60px;
  margin: 0.5rem 0;
  padding: 0 1rem;
  color: $fiord;

  input {
    display: none;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid $amethyst;
    margin-right: 1rem;
    vertical-align: middle;
  }
}

.completed {
  text-decoration: line-through;

  &::before {
    background-color: $amethyst;
  }
}