@import 'colors';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $cello;
  max-width: 700px;
  margin: 0 auto;
  background-color: $hawkes-blue;
  padding: 2rem;
}

.container {
  background-color: $selago;
  border-radius: 50px;
  padding: 50px;
  position: relative;
}

h1 {
  color: $cadet-blue;
  font-weight: 600;
  margin-bottom: 1rem;
  margin: 0;
}

h2 {
  color: $cadet-blue;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    background: $cloud-burst;
  }

  body {
    background: $cloud-burst;
  }
}

