@import '../../styles/colors';

.buttonNew {
  background-color: $azure-radiance;
  border-radius: 50%;
  border: none;
  bottom: 30px;
  color: $white;
  font-size: 1.5rem;
  font-weight: 400;
  height: 60px;
  outline: none;
  position: absolute;
  right: 30px;
  width: 60px;
}